<div class="main-wrap">
  <mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card>
        <mat-tab-group>
          <mat-tab label="Login">
            <div class="wrap">
              <app-login></app-login>
            </div>
          </mat-tab>
          <mat-tab label="Sign Up"> 
            <div class="wrap">
              <app-register></app-register>
            </div> </mat-tab>
        </mat-tab-group>
        <mat-divider></mat-divider>
        <div class="text-center">
          <p>OR</p>
          <p><a #gLogin>Sign in with Google</a></p>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
